* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", sans-serif;
}
nav {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 10;
  max-width: 1440px;
  margin: 0 auto;
}
nav .mainMenu {
  display: flex;
  list-style: none;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.164);
}
nav .mainMenu li a {
  display: inline-block;
  text-decoration: none;
  color: gray;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 20px;
  position: relative;
}
nav .mainMenu li a:after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #6acc93 38%, #00a9ff 100%);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
nav .mainMenu li a:hover:after {
  width: 100%;
}
nav .openMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 18px;
  top: 17px;
}
nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

nav .logo {
  margin: 28px;
  font-size: 25px;
  cursor: pointer;
}

.request button {
  height: 40px;
  width: 150px;
  color: white;
  background: linear-gradient(90deg, #6acc93 38%, #00a9ff 100%);
  border: 2px solid white;
  border-radius: 18px;
  margin: 19px 40px 0 0;
  cursor: pointer;
}

@media (max-width: 1023px) {
  nav .mainMenu {
    height: 70vh;
    margin: 100px 10px 0 10px;
    border-radius: 5px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    transition: top 1s ease;
    display: none;
  }
  .request button {
    display: none;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
  }
}

.land {
  background-image: url(images/bg-intro-mobile.svg);
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
}
.landing {
  max-width: 1440px;
  margin: 0 auto;
}
.landing img {
  height: 400px;
  max-width: 400px;
  display: block;
  width: 320px;
  margin: -120px auto 0;
  object-fit: cover;
}
.next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 40px;
}
.next button {
  height: 40px;
  width: 150px;
  color: white;
  background: linear-gradient(90deg, #6acc93 38%, #00a9ff 100%);
  border: 2px solid white;
  border-radius: 18px;
  margin-top: 30px;
  cursor: pointer;
}

.next p {
  margin-top: 20px;
  max-width: 90%;
  line-height: 25px;
  color: grey;
}
.why-chose {
  margin-top: 80px;
  background-color: rgba(128, 128, 128, 0.103);
  padding-bottom: 70px;
  max-width: 1440px;
  margin: 0 auto;
}
.why-chose h1 {
  padding-top: 60px;
  max-width: 60%;
  text-align: center;
  margin-left: 20%;
}

.why-chose p {
  margin-top: 20px;
  text-align: center;
  line-height: 25px;
  max-width: 90%;
}
#para {
  margin-left: 5%;
}
.part1,
.part2,
.part3,
.part4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.part1 img {
  margin-bottom: 25px;
}
.part2 img {
  margin-bottom: 25px;
}
.part3 img {
  margin-bottom: 25px;
}
.part4 img {
  margin-bottom: 25px;
}

.articles {
  background-color: rgba(245, 245, 245, 0.644);
  padding-bottom: 90px;
  max-width: 1440px;
  margin: 0 auto;
}
.articles h1 {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 80px;
}

.flexuse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  margin-top: 30px;
}
.card img {
  width: 300px;
  height: 200px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.card p {
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: rgba(128, 128, 128, 0.753);
}
.card a {
  padding: 20px;
  line-height: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.card a:hover {
  color: #00a9ff;
}
span {
  padding: 20px;
}

.footer {
  background-color: rgb(34, 25, 43);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
.logo2 img {
  margin: 30px 0;
}
.icons ul {
  display: flex;
  list-style: none;
  margin: 0 0 30px 0;
}
.icons ul li {
  padding: 0 10px;
}
.block1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.routes1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgba(245, 245, 245, 0.63);
}
.routes1 ul li {
  list-style: none;
  margin-bottom: 15px;
}
.routes2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgba(245, 245, 245, 0.63);
}
.routes2 ul li {
  list-style: none;
  margin-bottom: 15px;
}
.block3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#but {
  height: 40px;
  width: 150px;
  color: rgba(255, 255, 255, 0.829);
  background: linear-gradient(90deg, #6acc93 38%, #00a9ff 100%);
  border: 2px solid rgb(34, 25, 43);
  border-radius: 18px;
  margin-top: 20px;
  cursor: pointer;
}
#copy {
  color: rgba(245, 245, 245, 0.541);
  margin-top: 30px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .landing {
    display: flex;
    width: 100%;
  }
  .land {
    background-image: url(images/bg-intro-desktop.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .landing img {
    width: 350px;
    height: 450px;
    margin-top: 0;
  }
  .next {
    order: 0;
    width: 40%;
  }
  .land {
    order: 1;
    width: 50%;
    margin-left: 100px;
  }
  .next p {
    text-align: left;
  }
  .next h1 {
    text-align: left;
    margin-left: 20px;
  }
  .next button {
    align-self: flex-start;
    margin-left: 15px;
  }
}

@media (min-width: 1024px) {
  .landing img {
    width: 600px;
    margin-left: 110px;
  }
  .next {
    margin-left: 30px;
    margin-top: 40px;
  }
  nav .mainMenu {
    border: none;
  }
  .next h1 {
    margin-left: -30px;
    line-height: 50px;
    max-width: 80%;
    font-size: 40px;
  }

  .useflex {
    display: flex;
    width: 100%;
  }
  .part1 {
    width: 20%;
    margin-left: 5%;
    align-items: flex-start;
  }
  .part1 p {
    text-align: left;
  }
  .part2 {
    width: 20%;
    margin-left: 5%;
    align-items: flex-start;
  }
  .part2 p {
    text-align: left;
  }
  .part3 {
    width: 20%;
    margin-left: 5%;
    align-items: flex-start;
  }
  .part3 p {
    text-align: left;
  }
  .part4 {
    width: 20%;
    margin-left: 5%;
    align-items: flex-start;
  }
  .part4 p {
    text-align: left;
  }
  .why-chose h1 {
    text-align: left;
    margin-left: 5%;
  }
  #para {
    text-align: left;
    margin-left: 5%;
  }

  .articles h1 {
    text-align: left;
    margin-left: 5%;
  }

  .flexuse {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    width: 260px;
    height: 400px;
    margin: 20px 30px;
  }
  .card img {
    width: 260px;
    height: 200px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .routes1 {
    text-align: left;
  }
  .routes2 {
    text-align: left;
  }
  .block1 {
    margin-left: 5%;
  }
  .block3 {
    margin-right: 5%;
  }
  #but {
    margin-right: -30%;
    margin-top: 35px;
  }
  .logo2 {
    margin-left: -20%;
  }
}
@media (min-width: 1200px) {
  .next h1 {
    margin-left: -15%;
  }
  .next {
    margin-top: 2%;
  }

  .landing img {
    width: 800px;
    height: 500px;
    margin-left: 180px;
    margin-top: -10%;
  }
}
@media (min-width: 1350px) {
  .next h1 {
    max-width: 70%;
    margin-left: -20%;
  }
}
